.proposal-section {
  margin-bottom: 1em;
}

.speaker {
  > h1, > h2, > h3, > h4 {
    margin-top: 0;
  }
  + .form-submit {
    border-top: none;
  }
}

.speaker img,
.speaker-image {
  margin: 0 0.5em 0.8em 0;
}

#proposal {
  p.count {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.5em;
  }

  ul.invitation {
    padding: 0;
    .label {
      margin-right: 10px;
    }
  }
}

.other_proposals li {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.other-proposal-header {
  display: flex;
  .other-proposal-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.other-proposal-rating,
.other-proposal-format,
.other-proposal-track {
  font-size: $font-size-sm;
}

.other_proposal_tags {
  padding-left: 10px;
  margin-bottom: 7px;
}

#copy-emails {
  margin: 10px;
}

#emails-for-copy {
  display: none;
}

.proposal-list {
  .actions { width: 180px; }
  .date_range_filter, .text_filter { width: 100px !important; }
}

ul {
  list-style-type: none;
  li.proposal .label {
    margin-right: 1em;
  }
  li.proposal {
    border-bottom: 1px solid $gray-lighter;
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.status.label {
  font-size: 1.3em;
}

.twitter-share-button {
  margin-left: .5em;
  margin-top: 2.3em;
}

span.disabled-state {
  padding: 3px 20px;
  color: grey;
}

.callout {
  border-left: solid darken(#dff0d8, 10%) 5px;
  background-color: lighten(#dff0d8, 5%);
  padding: $input-btn-padding-x;

  .callout-title {
    @extend .col-form-label;
    margin-bottom: $spacer * 2;
  }
}

span.fa-exclamation-circle {
  font-size: 1.3em;
  display: inline-block;
}

div.col-md-4 {
  h3 {
    display: inline-block;
  }
  h3.comments-heading {
    padding-left: 5px;
  }
}

.invite-btns {
  margin-top: 10px;
}

.speaker-invite-form {
  display: none;
  form {
    margin-top: 0px;
  }
}

#review-tags-form-wrapper {
  padding: 0;
  text-align: left;

  .selectize-input.items .item {
    background: $state-success-bg;
    border: 1px solid darken($state-success-bg, 30%);
    color: $state-success-text;
    text-shadow: none;
    .remove {
      border-left: 1px solid darken($state-success-bg, 30%);
    }
  }

  .selectize-dropdown-content > .option.active {
    background: $state-success-bg;
  }
}

.proposal-meta-item,
.proposal-meta-list {
  $self: &;

  &__label {
    color:       #555;
    font-weight:  normal;
    font-size:    0.75rem;
    line-height:  1rem;
  }

  &__value {
    font-weight:  normal;
    font-size:    0.9rem;
    line-height:  2rem;

    &__edit-region {
      display:      flex;
      align-items:  baseline;

      &__text {
        flex: 1 1 auto;

        // .popover-trigger i {
        //   font-size: 12px;
        //   line-height: 12px;
        //   float: right;
        // }
      }

      &__icon {
        color:        $bright-blue;
        cursor:       pointer;
        margin-left:  5px;
        padding:      0;
      }
    }
  }
}

.proposal-meta-item {
  $self: &;

  &--inline {
    display:      inline-flex;
    align-items:  baseline;
    margin-left:  ($spacer * .75);

    #{$self}__label {
      line-height: 2rem;

      &::after {
        content:      ':';
        margin-right: ($spacer * .25);
      }
    }
  }
}

.proposal-meta-list {
  display:      flex;
  align-items:  baseline;

  &__label {
    line-height: 2rem;

    &::after {
      content:      ':';
      margin-right: ($spacer * .25);
    }
  }

  &__value {
    margin-right: ($spacer * .75);
  }
}
