#new-speaker-invitation.modal.fade{ role: 'dialog', tabindex: '-1', 'aria-labelledby': 'new-speaker-invitation-label' }
  .modal-dialog{ role: 'document' }
    .modal-content
      = simple_form_for(:speaker, url: invitations_path(proposal_uuid: proposal.uuid)) do |f|
        .modal-header
          %h3#new-speaker-invitation-label.modal-title Invite a new speaker
          %button.close{ type: 'button', data: { dismiss: 'modal' }, 'aria-label': 'Close' }
            %span{ 'aria-hidden': 'true' } &times;
        .modal-body
          = f.error_notification
          = f.input :email, class: "form-control", autofocus: true

        .modal-footer
          .btn-toolbar
            .btn-group.order-2
              %button.btn.btn-success{ type: 'submit' } Invite
            .btn-group.order-1.mr-1
              %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } } Cancel
