%li.notifications-link.nav-item.dropdown
  %a.nav-link.dropdown-toggle{title: "Admin Toggle", href: "#", data: { toggle: "dropdown" } }
    Admin
  %ul.dropdown-menu.dropdown-menu-right.admin-dropdown
    %li
      = dropdown_item_link admin_users_path do
        %i.fa.fa-users
        %span Users

    %li
      = dropdown_item_link admin_events_path do
        %i.fa.fa-calendar
        %span Events
