.modal-dialog{ role: 'document' }
  .modal-content
    = simple_form_for [current_event, :staff, :schedule, time_slot], remote: true, html: {role: 'form'} do |f|
      .modal-header
        %h3#time-slot-new-dialog-label.modal-title New Time Slot
        %button.close{ type: 'button', data: { dismiss: 'modal' }, 'aria-label': 'Close' }
          %span{ 'aria-hidden': 'true' } &times;
      .modal-body
        .errors
        = render partial: 'staff/time_slots/form',
            locals: {f: f, time_slot: time_slot}
      .modal-footer
        %ul#form-flash.pull-left
          - flash.map do |key, value|
            %li{ class: "alert alert-#{key}"}= value

        %button.btn.btn-secondary{'data-dismiss' => "modal"} Cancel
        %button.btn.btn-primary{:type => "submit",
          name: 'button', value: 'save'} Save
        %button.btn.btn-primary{:type => "submit",
          name: 'button', value: 'save_and_add'} Save and Add
