// Text modules
// Include any overrides to Bootstrap typography here
.meta-text {
  font-size: $font-size-sm;
  color: $gray;
}

.form-text {
  color: darken(theme-color('success'), 5%);
  font-size: 0.9em;
  font-style: italic;
}

// Misc helper classes
.white-text { color: $white; }
.gray-base { color: $gray-base; }
.gray-darker { color: $gray-darker; }
.gray-dark { color: $gray-dark; }
.gray { color: $gray }
.gray-light { color: $gray-light; }
.gray-lighter { color: $gray-lighter; }
.brand-primary { color: theme-color('primary'); }
.brand-success { color: theme-color('success'); }
.brand-info { color: theme-color('info'); }
.brand-info-alt { color: theme-color('info-alt'); }
.brand-warning { color: theme-color('warning'); }
.brand-danger { color: theme-color('danger'); }
.brand-accent { color: theme-color('accent'); }

// Responsive text:
// Reset to left-align on smaller screens
.text-right-responsive,
.text-center-responsive {
  @include media-breakpoint-down(sm) {
    text-align: left;
  }
}
