//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$white: #fff;
$black: #000;

//Triad Color Theory
$ruby-central-red: #91181C;
$dark-red: #440407;
$gold: #9E9B2A;
$dark-blue: #063E5E;
$bright-blue: #1A95DD;
$green: #189138;

$gray-base:              $black !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #b2afaa !default; //lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$beige:                  #f9f6f1;

$brand-primary:         $ruby-central-red !default; //darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         $green !default;
$brand-info:            $bright-blue !default;
$brand-info-alt:        $dark-blue !default;
$brand-warning:         lighten($gold, 20%) !default ; //$dark-red;
$brand-danger:          adjust-color($dark-red, $lightness: 30%, $saturation: 30%) !default;
$brand-accent:          $gold !default;
$brand-gray:            #ccc;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $bright-blue !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-size-base:    1rem !default; // Assumes the browser default, typically `16px`
$font-size-xs:      ($font-size-base * .75) !default;
$font-size-compact: ($font-size-base * .6) !default;

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.

// [converter] If $bootstrap-sass-asset-helper if used, provide path relative to the assets load path.
// [converter] This is because some asset helpers, such as Sprockets, do not work with file-relative paths.
$icon-font-path:          '~bootstrap-sass/assets/fonts/bootstrap/' !default;

//** File name for all font files.
$icon-font-name:          "glyphicons-halflings-regular" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id:        "glyphicons_halflingsregular" !default;

$btn-primary-bg:                 $brand-info-alt !default;


$btn-gray-color:               #000 !default;
$btn-gray-bg:                  $brand-gray !default;
$btn-gray-border:              darken($btn-gray-bg, 5%) !default;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-cfp-subnavbar:     1020 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;
$zindex-alert:             1080 !default;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    3.5rem;

$navbar-default-color:             $white !default;
$navbar-default-bg:                $brand-primary !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $white !default;
$navbar-default-link-hover-color:          darken($white, 20%) !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         lighten($white, 50%) !default;
$navbar-default-link-active-bg:            lighten($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;



//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               lighten($brand-success, 50%) !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  lighten($brand-info, 35%) !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               lighten($brand-warning, 15%) !default; //#fcf8e3;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                lighten($brand-danger, 50%) !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;


//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width:           200px !default;
//** Tooltip text color
$tooltip-color:               #fff !default;
//** Tooltip background color
$tooltip-bg:                  $brand-primary !default;
$tooltip-opacity:             .95 !default;

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;


//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          $beige;
//** Popover maximum width
$popover-max-width:                   276px !default;
//** Popover border color
$popover-border-color:                rgba(0,0,0,.2) !default;
//** Popover fallback border color
$popover-fallback-border-color:       $state-info-border !default;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;


//== Labels
//
//##

//** Default label background color
$label-default-bg:            $gray-lighter !default;
$label-default-text:          $gray !default;
//** Primary label background color
$label-primary-bg:            $bright-blue !default;
$label-primary-text:          #fff !default;
//** Success label background color
$label-success-bg:            $state-success-bg !default;
$label-success-text:          $state-success-text !default;
//** Info label background color
$label-info-bg:               $state-info-bg !default;
$label-info-text:          $state-info-text !default;
//** Warning label background color
$label-warning-bg:            $state-warning-bg !default;
$label-warning-text:          $state-warning-text !default;
//** Danger label background color
$label-danger-bg:             $state-danger-bg !default;
$label-danger-text:          $state-danger-text !default;
