#rooms-partial
  .row
    .col-md-12
      %header
        %h3.pull-left Rooms
        = link_to "Add Room", "#", class: "btn btn-primary btn-sm pull-left",
          data: { toggle: "modal", target: "#room-new-dialog" }
        .clearfix
  .row
    .col-md-12
      %table.table.table-striped#organizer-rooms
        %thead
          %tr
            %th Name
            %th Room #
            %th Address
            %th Level
            %th Capacity
            %th Grid Position
            %th.actions Actions
        %tbody
          = render event.rooms
      #room-new-dialog.modal.fade{ role: 'dialog', tabindex: '-1', 'aria-labelledby': 'room-new-dialog-label' }
        .modal-dialog{ role: 'document' }
          .modal-content
            = simple_form_for [ event, :staff, :schedule, Room.new ], remote: true do |f|
              .modal-header
                %h3#room-new-dialog-label.modal-title New Room
                %button.close{ type: 'button', data: { dismiss: 'modal' }, 'aria-label': 'Close' }
                  %span{ 'aria-hidden': 'true' } &times;
              .modal-body
                .errors
                = render partial: "staff/rooms/form", locals: { f: f }
              .modal-footer
                .btn-toolbar
                  .btn-group.order-2
                    %button.btn.btn-primary{ type: 'submit' } Save
                  .btn-group.order-1.mr-1
                    %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } } Cancel
